<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Confession</title>
</head>
<body>
    <h1>Edit Confession Page</h1>
    <form action="/confessions/<%=confession._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="confy[title]" value="<%=confession.postTitle %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="confy[location]" value="<%= confession.postConfession %>">
        </div>
        <button>Update Confession</button>
    </form>
    <a href="/confessions/<%=confession._id%>">Back</a>
</body>
</html>