<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Confession</title>
</head>
<body>
    <h1>Edit Confession Page</h1>
    <form action="/confessions/<%=confession._id%>?_method=PUT" method="POST">
        <div>
            <label for="postTitle">Title</label>
            <input type="text" id="postTitle" name="confy[postTitle]" value="<%=confession.postTitle %>">
        </div>
        <div>
            <label for="postConfession">Location</label>
            <input type="text" id="postConfession" name="confy[postConfession]" value="<%= confession.postConfession %>">
        </div>
        <button>Update Confession</button>
    </form>
    <a href="/confessions/<%=confession._id%>">Back</a>
</body>
</html>