<% layout('layouts/boilerplate') %>
    <h1>Annonymous Confessions</h1>
    <div>
        <a href="/confessions/new">New Confession</a>
    </div>
    <ul>
        <% for(let confession of confessions) {%>
            <li>    
                <a href="/confessions/<%=confession._id%>"><%= confession.postTitle %></a>            
            </li>
        <% } %>
    </ul>