<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Confession</title>
</head>
<body>
    <form action="/confessions" method="POST">
        <div>
            <label for="postTitle">Title</label>
            <input type="text" id="postTitle" name="postTitle">
        </div>
        <div>
            <label for="postConfession">Confession</label>
            <input type="text" id="postConfession" name="postConfession">
        </div>
        <button>Add Confession</button>
    </form>
    <a href="/confessions">Back</a>
</body>
</html>